* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f8;
    color: #333;
}


.container {


    text-align: center;
}



/* Botón menú lateral */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #42383b;
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4000;
    /* el más alto de todos */
}
.menu-btn:hover {
background-color:#413e3e;


}


/* Menú lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100%;
    width: 260px;
    background-color: #464444;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 3000;
    /* SUBIMOS para que esté sobre el nav */
}

.side-menu a {
    display: block;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
}

.side-menu a:hover {
    background-color: #413e3e;
    color: black;
}

/* Barra principal fija */
nav {
    position: sticky;
    /* Hace que el nav se quede pegado al top */
    top: 0;
    background-color: #4B4B4B;
    color: white;
    padding: 1.5rem 1rem 1rem;
    text-align: center;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-container h1 {
    margin: 0;
}

.login-btn {
    position: absolute;
    right: 0;
    padding: 8px 15px;
    background-color: #4B4B4B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
}

.login-btn:hover {
    background-color:#413e3e;
}

.row {

    display: flex;
    justify-content: space-evenly;


}



.card {
    margin-top: 30px;
    width: 200px;
    height: 250px;
    box-shadow: 1px 2px 1px #838080;
    border-radius: 10px;
    text-align: center;

}

.card:hover {
transform: scale(1.1);
background-color: #cac0c0;
}



.card img {
    border-radius: 10px 10px 0px 0px;
    width: 200px;
    height: 140px;

}

.card button {
    margin-top: 30px;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3949ab;
    color: #fff;
}

.card button:hover {
background-color: #1a237e;

}


h2 {


    margin-top: 20px;
}